@font-face {
    font-family: 'helveticaneuecyrthin_italic';
    src: url('../fonts/HelveticaNeueCyr Thin Italic/helveticaneuecyr-thinitalic-webfont.eot');
    src: url('../fonts/HelveticaNeueCyr Thin Italic/helveticaneuecyr-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr Thin Italic/helveticaneuecyr-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCyr Thin Italic/helveticaneuecyr-thinitalic-webfont.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr Thin Italic/helveticaneuecyr-thinitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuecyrthin';
    src: url('../fonts/HelveticaNeueCyr Thin/helveticaneuecyr-thin-webfont.eot');
    src: url('../fonts/HelveticaNeueCyr Thin/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr Thin/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCyr Thin/helveticaneuecyr-thin-webfont.woff') format('woff'),
         url('../fonts/HelveticaNeueCyrThin/helveticaneuecyr-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/HelveticaNeueCyr Roman/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/HelveticaNeueCyr Roman/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr Roman/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCyr Roman/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr Roman/helveticaneuecyr-roman-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../fonts/HelveticaNeueCyr Bold/helveticaneuecyr-bold-webfont.eot');
    src: url('../fonts/HelveticaNeueCyr Bold/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr Bold/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCyr Bold/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr Bold/helveticaneuecyr-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}